<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            <div id="mostOftenBooksGrid"></div>
        </div>
    </div>
</div>

<script>

        $("#mostOftenBooksGrid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: function (option) {
                        $.ajax({
                            url: '/Report/GetMostOftenBooks',
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            async: loadAsync,
                            data: {
                                skip: option.data.skip,
                                take: option.data.take,
                                pageSize: option.data.pageSize,
                                title: $("#text").val() + "",
                                fromdate: $("#fromdate").val()+"",
                                todate: $("#todate").val() + "",
                                genreid: $("#genreDropDownList").val()
                            },
                            success: function (result) {
                                option.success(result);
                            },
                            error: function (result) {
                                option.error(result);
                            }
                        })
                    }
                },
                schema: {
                    data: function (response) {
                        return response.data;
                    },
                    total: function (response) {
                        return response.total;
                    }
                },
                pageSize: 5,
                serverPaging: true,
                serverFiltering: true,
            },
            filterable: false,
            pageable: true,
            columns: [
                {
                    field: "Title",
                    title: "Title",
                    filterable: false
                },
                {
                    field: "Author",
                    title: "Author",
                    filterable: false
                },
                {
                    field: "Genre",
                    title: "Genre",
                    filterable: false
                },
                {
                    field: "BorrowCount",
                    title: "Borrow Count",
                    filterable: false
                }
            ]
        })

</script>