<h6>Filter</h6>
<input id="text" class="k-textbox filterForm" placeholder="Enter the title" />
<input id="fromdate" class="filterForm" />
<input id="todate" class="filterForm" />
<button id="resetFilterBtn" class="btn btn-primary">Reset filter</button>