
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" />

<script>
    var loadAsync = false;

    $(document).ready(function () {
        loadAsync = true;
    })
</script>

<h1>Reports</h1>
<hr />
<h2>Books most often borrowed</h2>
@Html.Partial("_MostOftenBorrowedBooksFilter")
@Html.Partial("_MostOftenBorrowedBooksGrid")
<hr />
<h2>The most active users</h2>
@Html.Partial("_MostActiveUsersGrid")

